<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/stylesheets/boot.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

</head>

<body>
    <div class="text-center">
        <img src="/images/logo.svg" width="120" height="120" class="d-inline-block align-top" alt="">
        <h1><span class="fa fa-sign-in"></span>Bentornato 👋</h1>
        <p><span>Chiedi a <a href="https://www.telegram.me/chiamamilori">@chiamamilori</a>
                per
                avere credenziali.</span></p>
        <!-- LOGIN FORM -->
        <form id="myForm">
            <div class="form-signin">
                <input id="txt_username" type="text" class="form-control" placeholder="Username" name="username">
                <p></p>
                <input id="txt_pin" type="password" class="form-control" placeholder="PIN" name="pin">
                <button id="btn_login" class="btn btn-lg btn-primary btn-block">Login</button>
            </div>

        </form>
        <hr>
    </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () { // Questa è una modifica all'evento "submit" del form
        $("#myForm").on('submit', function (e) {
            e.preventDefault(); //Così evito che esegua il suo comportamento predefinito
            var getUsername = $('#txt_username').val();
            var getPIN = $('#txt_pin').val();
            makeRequest(getUsername, getPIN);

        });
    })

    function makeRequest(username, pin) {
        var form = new FormData();
        form.append("username", username);
        form.append("pin", pin);

        var settings_LOGIN = {
            "url": "https://belfanti.ddns.net:8443/auth/login",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        var settings_OFFICINA = {
            "url": "https://belfanti.ddns.net:8443/officina",
            "method": "GET",
            "timeout": 0,
            "xhrFields": {
                "withCredentials": true
            }
        };

        $.ajax(settings_LOGIN).done(function (response) {
            var json_data = response
            location.href = "https://belfanti.ddns.net:8443/officina"
            if (json_data.error) {
                alert("Errore! " + json_data.error)
            } else {

            }


        });
    }
</script>